body {
    margin: 0;
}

nav {
    align-items: center; /* alinha os itens dentro da barra */
    background-color: #fe7a35; 
    display: flex; /* deixa a nav mais dinâmica e responsiva */
    height: 60px;
    justify-content: space-evenly; /* espaço entre os links */
}

nav a {
    color: #17386d;
    font-size: 22pt;
    font-family: 'VT323', monospace;
    text-decoration: none; /* tira o sublinhado abaixo do texto de link */
}

header {
    background-image: url("images/kages.jpg");
    background-size: cover; /* faz a imagem ocupar somente o espaço necessário, sem precisar repeti-la*/
    height: 400px;
}

section{
    background-color: #b0946b;
    display: flex; /* deixar o texto em duas colunas, trocar block (padrão) por inline*/
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'VT323', monospace;
    font-size: 30px;
}

section div{
    width: 40%;
}

div ul {
    list-style-image: url("images/ninja.png");  
}

div p{
    text-align: justify;
}

/*ul li:nth-child(even) { /* nth-child() seleciona a ul específico com números ou (even/pares) (odd/impares) */
    /* color: white;
 }*/

/* p, h2 { */
    /* color: lawngreen; (adiciona mais de um seletor) */
/* } */

input::placeholder{
    font-family: 'Montserrat', sans-serif;   
}

input:focus{
    background-color: #fe7a35; /*adicionar cor quando o input estiver selecionado*/
}

footer div{
    align-items: center;
    background-color: #fe7a35; 
    display: flex; 
    justify-content: center;    
}

h3{
    color: white;
}

footer img{
    margin: 10px;
    height: 20px;
    widows: 20px;
}